APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

SAML2_SAVANNAH_SP_ENTITYID=f5e5bc7c-1934-4ccb-909e-3595bc3d1e9c
SAML2_SAVANNAH_IDP_ENTITYID=http://localhost/saml/metadata
SAML2_SAVANNAH_IDP_SSO_URL=http://localhost/saml/sso/login
SAML2_SAVANNAH_IDP_x509=MIICTDCCAbWgAwIBAgIBADANBgkqhkiG9w0BAQ0FADBDMQswCQYDVQQGEwJqcDEOMAwGA1UECAwFVG9reW8xETAPBgNVBAoMCFNhdmFubmFoMREwDwYDVQQDDAhTYXZhbm5haDAeFw0yMjEyMDcxNDQwMjFaFw0zMjEyMDQxNDQwMjFaMEMxCzAJBgNVBAYTAmpwMQ4wDAYDVQQIDAVUb2t5bzERMA8GA1UECgwIU2F2YW5uYWgxETAPBgNVBAMMCFNhdmFubmFoMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQChWLYRbtT+84baMFoQefoSwaCyNfIPztmCQ9j89e2TFDL9RYHs56WuKmLJPtBJJKNj7//hrkFrPOdHWx9loVi3WVt4P0uO5i8DRBeFFg5HknxDchlEeNuzvMoBGhBMnd3svNEWVxDFEJf93ST22yj/71+EJxtbv+zdFzhaq6XjvwIDAQABo1AwTjAdBgNVHQ4EFgQUIbXCf5CDCD0amZ9depCFL1wyVKowHwYDVR0jBBgwFoAUIbXCf5CDCD0amZ9depCFL1wyVKowDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQ0FAAOBgQALR7P874yZ+cuZIIJ+gA9y8pVWfXHiw0InABnRQ8BIljv6cMDSg2X0A6Kr+bWg3XK1ukATkWZJcZiq9NpM0Tt/7usB8PwEbnAhqr3Rg/02OmEXp8AbhmaWRg3CSvaBZ0FfrOHHfqR80Or+Z3hp9/0qvwZCpvxB5EYYBzmLBrHbEQ==

